<nav role="navigation" class="navbar topnavbar">
                <!-- START button offset-->
                <div class="btn-offset">
                    <button type="button" data-btn-layer-morph="" data-target="#layer-search" data-ripple="" class="btn btn-info btn-circle btn-lg shadow-z1"><em class="fa fa-search"></em></button>
                </div>
                <!-- START button offset-->
                <!-- START navbar header-->
                <div class="navbar-header">
                    <a href="{% if request.path == '/school/' or request.path == '/' %} javascript:viod(0) {% else %} / {% endif %}" class="navbar-brand">
                        <h3 class="brand-logo">Medicover School </h3>
                    </a>
                    <!-- Mobile buttons-->
                    <div class="mobile-toggles">
                        <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
                        <a href="#" class="sidebar-toggle"><em class="fa fa-navicon"></em></a>
                        <!-- Button to show/hide the header menu on mobile. Visible on mobile only.-->
                        <a href="#nav-collapse" data-toggle="collapse" class="menu-toggle hidden-material"><em class="fa fa-ellipsis-v fa-fw"></em></a>
                    </div>
                </div>
                <!-- END navbar header-->
                <!-- START Nav wrapper-->
                <div id="nav-collapse" class="nav-wrapper collapse navbar-collapse">
                    <!-- START Left navbar-->
                    <ul class="nav navbar-nav hidden-material">
                        <li>
                            <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
                            <a href="#" class="hidden-xs sidebar-toggle-off"><em class="fa fa-navicon"></em></a>
                        </li>

                        <!-- START lock screen-->
                        <!-- <li>
                            <a href="page.lock.html" title="Lock screen" data-ripple="">
                                <em class="icon-lock fa-fw"></em>
                                <span class="visible-xs-inline ml">Lock Screen </span>
                            </a>
                        </li> -->
                        <!-- END lock screen-->
                    </ul>
                    <ul class="nav navbar-nav hidden-material" style="float: right;">
                        <li class="dropdown"><a href="#" data-toggle="dropdown" data-ripple="" class="dropdown-toggle"><span class="fa fa-user"></span><span class="visible-xs-inline ml">{{ user }}</span></a>
                            <!-- START Dropdown menu-->
                            <ul id="bg-white" class="dropdown-menu p wd-lg" style="right:0;left:auto">
                                <li class="row ml0 mr0 mt mb text-center">
                                    <div class="col-xs-4">
                                        <div class="pv"><a href="{% url 'school:profile' %}"><span class="block mb"><em class="icon-head fa-2x text-warning"></em></span><small class="text-muted">Profile</small></a></div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="pv"><a href="javascript:void(0)"><span class="block mb"><em class="icon-mail fa-2x text-primary"></em></span><small class="text-muted">Mailbox</small></a></div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="pv"><a href="javascript:void(0)"><span class="block mb"><em class="icon-image fa-2x text-muted"></em></span><small class="text-muted">Gallery</small></a></div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="pv">
                                            <div class="pv"><a href="{% url 'school:logout' %}"><span class="block mb"><span style="font-size: 30px" class="fa fa-sign-out"></span><small class="text-muted">Logout</small></a></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- END Left navbar-->
                </div>
                <!-- END Nav wrapper-->


            </nav>